name: Bug Prediction (Overwatch)

on:
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: read

jobs:
  upload-overwatch:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Overwatch CLI
        run: |
          curl -o overwatch-cli https://overwatch.codecov.io/linux/cli
          chmod +x overwatch-cli

      - name: Run Overwatch CLI
        run: |
          ./overwatch-cli \
            --auth-token ${{ secrets.OVERWATCH_SENTRY_AUTH_TOKEN }} \
            --organization-slug sentry \
            --upload-empty-on-error \
            typescript --package-manager pnpm --eslint-pattern src
